.messageWrap {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3%;
    position: relative;
    margin: 1.5rem 0;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.6rem;
    width: 35rem;
}
.author {
    font-weight: 600;
    color: brown;
    position: absolute;
    left: 1rem;
    top: -1.8rem;
}
.time {
    position: absolute;
    right: 1rem;
    top: -1.8rem;
}

.ownUsername {
    justify-content: flex-end;
    float: right;
    clear: both;
}
.username {
    justify-content: flex-start;
    float: left;
    clear: both;
}
